.App {
  padding: 50px;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}

.App h1 {
  font-size: 50px;
  margin: 10px 0;
  display: inline-block;
}

.App ul {
  margin: 10px 0;
  padding: 10px;
  border-radius: 7px;
  background-color: #111;
}

.App ul li {
  list-style: none;
  color: #eee;
  margin: 5px 0;
  font-size: 20px;
}

.App ul li span {
  color: #777;
}

.spinner {
  margin-top: 20px;
  border: 6px solid #eee; /* Light grey */
  border-top: 6px solid #111; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}